@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Sahel;
  src: url('../public/font/Sahel.eot');
  src: url('../public/font/Sahel.woff');
  src: url('../public/font/Sahel.woff2');
}

* {
  font-family: Sahel, sans-serif;
  direction: rtl;
}

.custom-input {
  font-size: 1.19rem;
  display: block;
  width: 26rem;
  padding: .230rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out
}
