@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Sahel;
  src: url('../public/font/Sahel.eot');
  src: url('../public/font/Sahel.woff');
  src: url('../public/font/Sahel.woff2');
}

* {
  font-family: Sahel, sans-serif;
  direction: rtl;
}

.custom-input {
  min-height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  display: block;
  width: 26rem;
  font-weight: 800;
  line-height: 1.5;
  color: #212529;
  background-color: rgb(240, 240, 240) !important;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out
}

.custom-input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-control {
  background-color: rgb(240, 240, 240) !important;
}

.notFound {
  color: #fff;
  font-weight: bold;
  background-image: url('/images/finance/p404.png');
  background-position: center;
  background-repeat: repeat;
  background-color: #212529;
}

@media print {
  body * {
    visibility: hidden;
  }

  #main,
  #main * {
    visibility: visible;
  }
}