.sidebar{
     padding: 50px 0 0 0;
     background: rgb(252,252,252);
     width: 300px;
     max-width: 300px;
     height: 100vh;
}

.sidebar ul{
     padding: 0 15px;
}

.sidebar ul li{
     margin: 10px 0;
     padding: 10px 5px;
     border-bottom: 1px solid rgb(235,235,235);
     border-radius: 3px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     -ms-border-radius: 3px;
     -o-border-radius: 3px;
     cursor: pointer;
}

.sidebar ul li a{
     color: rgb(42, 42, 42);
}

.sidebar ul li:hover{
     background: rgb(231,231,231);
}


@media screen and (max-width: 1400px) {
     .sidebar{
          width: 200px;
     }
     .sidebar .logo img{
          width: 100px;
     }
}

@media screen and (max-width: 992px) {
     .sidebar{
          width: 60px;
     }
    
}